#details {
  padding: 12px;
  background: #c1c1;
  display: flex;
}

.details__image img {
  width: 120px;
  display: inline-block;
}

.details__name {
  margin: 16px;
  font-size: 28px;
  text-transform: capitalize;
}